<%- include("partials/header"); -%> 
<%- include("partials/navigation"); -%>

<!-- displaying cards with a foreach loop getting them from db -->

<div class="container">
  <div class="card-deck text-center">
    <% posts.forEach(function(post) { %>
    <div class="card box-shadow">
      <div class="card-header">
        <h2><%= post.title %></h2>
      </div>
      <div class="card-body">
        <p><%= post.body %></p>
        <div class="row">
          <div class="col">
          <button type="button" href="/"class="btn btn-md btn-outline-dark  button-delete">Delete</button>
        </div>
          <div class="col">
          <button type="button" href="/"class="btn btn-md btn-warning">Edit</button>
        </div>
        </div>
        </div>
      </div>
      
    <%})%> 
    </div>
  </div>


<%- include("partials/footer"); -%>


