<%- include("partials/header"); -%>
<%- include("partials/navigation"); -%>

<!-- displaying cards with a foreach loop getting them from db -->


  <div class="row text-center">

    <% posts.forEach(function(post) { %>
      <div class="col-lg-3 col-md-4">
    <div class="card ">

      <div class="card-header">
        <h2><%= post.title %></h2>
      </div>
      <div class="card-body">
        <p><%= post.body %></p>
      </div>

      <div class="card-footer text-center ">
            <form class="btn-form" action="/delete " method="post">
            <button type="submit" name="buttondelete" value="<%= post._id %>" href=""
              class="btn btn-md btn-outline-dark  btn-delete">Delete</button>
            </form>
            <form class="btn-form" action="/edit" method="post">
            <button type="submit" name="buttonEdit" value="<%= post._id %>" href="/"
              class="btn btn-md btn-warning btn-save">Edit</button>
            </form>
      </div>

    </div>
  </div>

    <%})%>
  </div>



<%- include("partials/footer"); -%>